* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --accent3-color: blue;
    --heading2-font: 'Bona Nova', serif;
    --paragraph2-font: 'Lora', serif;
    --heading-font: 'Lora', cursive;
    --paragraph-font: 'Habibi', 'Ibarra Real Nova', serif;
    --text-color: white;

}

h1 {

    font-family: var(--heading-font);
    color: var(--text-color);
    bottom: 10px;

}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading2-font);
    color: blue;
}

header {
    background-color: lightblue;
    color: blue;
    padding: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: 450px 1fr;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin-right: 25px;
}

nav {
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 1em;
    min-width: 120px;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

.hero {
    margin: 10px auto;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    margin-left: 1%;
    margin-bottom: 27%;
    color: blue;
    background-color: lightblue;
}

.hero article {
    position: absolute;
    bottom: 30px;
    background: lightblue;
    opacity: .9;
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: var(--paragraph2-font);
}

.hero article img {
    float: right;
    width: 300px;
    height: auto;
    margin: 4px;
    padding-left: 5px;
}

.words {
    font-family: var(--paragraph-font);
    color: var(--accent3-color);
}

p {
    font-family: var(--paragraph2-font);
}

section {
    background: lightblue;
    margin: 10px;
    text-align: center;
}

section img {
    width: 50%;
    margin: 5px;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 1 rem;
    margin-top: 100px;
    color: blue;
    gap: 1 rem ;

}

.footer-text {
text-align: center;
flex: 1;
}


.socialmedia img {
    height: auto;
    width: 40px;

}

.socialmedia {
    gap: 0.5 rem;
    display: flex;
}

.trip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tripimg {
    width: 400px;
    height: auto;
}

